<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Cache:CSSVersion" value="{CSS_Version_For_Caching}" />
    <add key="Cache:JSVersion" value="{JS_Version_For_Caching}" />
    <add key="API:Endpoint" value="{TimeKeep.Web.API_URL_Local}" />
    <add key="API:ApiVersion" value="{TimeKeep.Web.API_ApiVersion}"/>
    <add key="OAuth:ClientID" value="{OAuth_Client_ID}" />
    <add key="OAuth:AuthEndpoint" value="{OAuth_Auth_Endpoint}" />
    <add key="OAuth:TokenEndpoint" value="{OAuth_Token_Endpoint}" />
    <add key="OAuth:ReplyURL" value="{OAuth_Reply_URL_Local}" />
    <add key="OAuth:Resource" value="{OAuth_Resource}" />
    <add key="OAuth:Secret" value="{OAuth_Secret}" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:7 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:15 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="400-999" />
                </add>
            </traceFailedRequests>
        </tracing>
      <modules>
        <remove name="WebDAVModule" />
        <add name="OAuthModule" type="TimeKeep.Web.UI.OAuthModule, TimeKeep.Web.UI" />
      </modules>
        <handlers>
          <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
          <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
          <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
          <add name="BroadcastHandler" verb="POST" path="broadcast/*" type="TimeKeep.Web.UI.BroadcastHandler, TimeKeep.Web.UI" />
        </handlers>
      <rewrite>
        <rules>
          <rule enabled="true" name="Http to Https Rule">
            <match ignoreCase="true" url="(.*)"/>
            <conditions>
              <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
            </conditions>
            <action redirectType="Permanent" appendQueryString="true" type="Redirect" url="https://{LOCAL_HOST_REDIRECT}/{R:1}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>